.hidden {
  display: none !important;
}

body {
  height: 98vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

span {
  color: white;
}

.weather-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-list li {
  position: relative;
  margin: 2px 0 0 0;
  padding: 0 0 4px 16px;
  font-size: 16px;
  color: #000;
}

.quote span {
  display: flex;
  justify-content: center;
  margin: 15px 0px;
}

.quote span:first-child {
  font-weight: 500;
  font-size: 20px;
}

.quote span:last-child {
  font-weight: 400;
  font-size: 15px;
}

.clock {
  color: blanchedalmond;
  font-size: 45px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form input:last-child {
  margin: 20px 0px;
}

.login-area h3 {
  color: blanchedalmond;
}

input[type="text"] {
  height: 17px;
  border: 10px;
  width: calc(100% - 2px);
  margin-left: 1px;
  box-shadow: -8px 10px 0px -7px #ebebeb, 8px 10px 0px -7px #ebebeb;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  background-color: transparent;
}
input[type="text"]:focus {
  outline: none;
  box-shadow: -8px 10px 0px -7px #4ea6ea, 8px 10px 0px -7px #4ea6ea;
  caret-color: #4ea6ea;
  color: #4ea6ea;
}
